<h1>ALL DA GAEMZ HEAH, BRUDDA WIT DA BEER CAN</h1>



<h2>Ruby Index</h2>

<% Game.all.each do |game| %>
<h2><%= game.title %></h2>
<p><%= game.body %></p>
<p><%= game.url %></p>
<%= link_to "Play", session_start_path(game.id)%>

<% end %>

<h1>DO IT FOR DA BABBIES</h1>
