<h1>Gaemz for da Babbys</h1>

<div>
<img src="http://i1.kym-cdn.com/entries/icons/original/000/002/339/babby.jpg">
</div>


<h2>Babby Gaemz Newz</h2>
<ul>
<li>lel</li>
<li>Double Lulz</li>
<li>TRIPLE LOL</li>
</ul>
